body{
   background-color: rgb(16, 17, 17);

}
h1{
    text-align: center;
    color: red;
}
form{
    max-width: 600px;
    margin: auto;
    background: rgb(8, 58, 11);
    border-radius: 8px;
    border-width: 5px 5px 5px 5px;
    border-color: blueviolet;
    border-style: groove;
}
button{
    display: block;
    width: 100px;
    padding: 10px;
    background: rgb(48, 48, 46);
    margin-right: 30px;
    cursor: pointer;
}
button:hover{
    background-color: aquamarine;
    
}